SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/home/cron/.local/bin

*/10 * * * * /usr/bin/ruby /home/cron/code/cron-scripts/check_maestral_working.rb
0 3 * * * /home/cron/code/cron-scripts/create_daily_note.py
