SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/home/cron/.local/bin

*/10 * * * * /usr/bin/ruby /home/cron/code/cron-scripts/check_maestral_working.rb
0 3 * * * /home/cron/code/cron-scripts/create_daily_note.py
0 3 * * * /usr/bin/ruby /home/cron/code/cron-scripts/bump_index_daily_note_link.rb
0 3 * * * /usr/bin/ruby /home/cron/code/cron-scripts/build_note_lists.rb
